<div id="header_content">
	<div class="container_12">
		<div id="title" class="grid_12">
			<h1><a href="/">geoffhotchkiss</a></h1>
		</div>
		<div id="nav" class="grid_12">
			<div class="grid_1 prefix_4 alpha">
				<a href="/blog.html">blog</a>
			</div>
			<div class="grid_1">
				<a href="http://github.com/geoffhotchkiss">github</a>
			</div>
			<div class="grid_1">
				<a href="/resume.html">resume</a>
			</div>
			<div class="grid_1">
				<a href="/about.html">about</a>
			</div>
		</div>
	</div>
</div>