body {
	/* background-image: url(http://i.imgur.com/kKFD0.jpg); */
	background-color: #111;
	color: #ccc;
	font-family: sans-serif;
}

#header_content, #footer_content {
	color: orange;
	text-align: center;
}

#page {
	width: 800px;
	margin: 0px auto;
	padding: 20px;
	background-color: #111;
	/* border-radius: 20px; */
}

.math {
	color: black;
	background-color: white;
	padding: 2px 0px;
	border-radius: 10px;
}

h1 {
	margin: 10px 20px;
}

h3 {
	margin: 20px 0px;
	color: #ccc;
	font-variant: small-caps;
	font-size: 15px;
}

#posts a {
	color: #aabf73;
	font-variant: small-caps;
	font-size: 15px;
}

#body_content {
	font-size: 15px;
}

a {
	text-decoration: none;
}

#title a {
	color: orange;
}

#nav {
	font-size: 20px;
}

#nav a {
	color: #aabf73;
	margin: 0px 10px;
}