body {
	color: #111;
	background-color: #eee;
	font-family: sans-serif;
}

#header_content, #footer_content {
	color: #FFBA4B;
	text-align: center;
}

#page {
	width: 800px;
	margin: 0px auto;
	padding: 20px;
	/* border-radius: 20px; */
}

.math {
	color: black;
	padding: 2px 0px;
	border-radius: 10px;
}

h1 {
	margin: 10px 20px;
}

h3 {
	margin: 20px 0px;
	color: #ccc;
	font-variant: small-caps;
	font-size: 15px;
}

#posts a {
	color: #aabf73;
	font-variant: small-caps;
	font-size: 15px;
}

#body_content {
	font-size: 15px;
}

a {
	text-decoration: none;
}

#title a {
	color: #FFBA4B;
}

#nav {
	font-size: 20px;
}

.navlink {
	color: #aabf73;
	margin: 0px 10px;
}

.hover {
	color: black;
	background-color: red;
}