<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/geoff.js"></script>
		<title>GH &#8835; {{ page.title }}</title>
	</head>
	
	<body>
		<div id="content">		
			<h1 id="title"><a href="/">Geoff Hotchkiss</a> &#8835; {{ page.title }}</h1>
			<div id="nav">
				<a id="bloglink"   class="navlink" href="http://blog.geoffhotchkiss.com">Blog</a>
				<a id="githublink" class="navlink" href="http://github.com/geoffhotchkiss">Github</a>
				<a id="resumelink" class="navlink" href="/files/resume.pdf">Resume</a>
				<a id="aboutlink"  class="navlink" href="/about">About</a>
			</div>
			<div id="about">
				{{ content }}
			</div>
		</content>
	</body>
</html>
