<html>
	<head>
		<title>{{ page.title }}</title>
		<style type="text/css" media="all">
			@import "/static/bootstrap/css/bootstrap.min.css";
			@import "/static/css/style.css";
		</style>
		<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
	</head>
	
	<body>
	
		<div id="page">
		
			<div>
				{% include header.html %}
			</div>
					
			<div>
				{{ content }}
			</div>
					
			<div>
				{% include footer.html %}
			</div>
			
		</div>
		
	</body>
	
</html>