<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/dpvc/2.0-beta/MathJax.js?config=default"></script>
		<title>GH &#8835; {{ page.title }}</title>
	</head>
	
	<body>
		<div id="content">		
			<h1 id="title"><a href="/">Geoff Hotchkiss</a> &#8835; {{ page.title }}</h1>
			<div id="nav">
				<a id="bloglink" href="/blog">Blog</a>
				<a id=" githublink" href="http://github.com/geoffhotchkiss">Github</a>
				<a id="resumelink" href="/resume">Resume</a>
				<a id="aboutlink" href="/about">About</a>
			</div>
			<div id="about">
				{{ content }}
			</div>
		</content>
	</body>
</html>